<html>

<head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h1>Router: {{ router_ip }}</h1>

    <table style="width:100%">
  <tr>
    <th>Timestamp</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
    <th>Protocol</th>
  </tr>
  {% for docs in interface_data %}
        {{ docs }}
    {% for inth in docs.interfaces %}
    <tr>
        <td>{{ docs.timestamp }}</td>
        <td>{{ inth.interface }}</td>
        <td>{{ inth.ip }}</td>
        <td>{{ inth.status }}</td>
        <td>{{ inth.proto }}</td>
    </tr>
    {% endfor %}
  {% endfor %}
</table>
</body>

</html>